data/nodered/backups/backup_1761815211480.json
{
  "flows": [
    {
      "id": "b604667dbd733022",
      "type": "websocket-listener",
      "path": "ws://127.0.0.1:8081",
      "wholemsg": "false"
    },
    {
      "id": "0c854c4eb4ecf9e1",
      "type": "websocket-listener",
      "path": "ws://127.0.0.1:8083",
      "wholemsg": "false"
    },
    {
      "id": "7be54f27df53adcc",
      "type": "websocket-client",
      "path": "ws://127.0.0.1:8083",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "77c5bdacdb96a3f8",
      "type": "websocket-client",
      "path": "ws://localhost:8082",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "dd1456b03f8027f3",
      "type": "websocket-client",
      "path": "ws://localhost:8089",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "d5ab4347bde90272",
      "type": "websocket-listener",
      "path": "ws://localhost:8082",
      "wholemsg": "false"
    },
    {
      "id": "6a9f943df43b1258",
      "type": "websocket-client",
      "path": "ws://localhost:8082",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "bc9f3372ece38bda",
      "type": "websocket-client",
      "path": "ws://localhost:1697/messageproxy/flow",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "4467f6ad8f517fbe",
      "type": "websocket-client",
      "path": "ws://192.168.3.69:1697/messageproxy/flow",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "73840c3923b28da6",
      "type": "tab",
      "label": "Home Automation v1.0.2",
      "disabled": false,
      "info": "",
      "env": []
    },
    {
      "id": "4036362731048d42",
      "type": "websocket in",
      "z": "73840c3923b28da6",
      "name": "Message",
      "server": "",
      "client": "6a9f943df43b1258",
      "x": 60,
      "y": 320,
      "wires": [
        [
          "9b664e50e0530fd9"
        ]
      ]
    },
    {
      "id": "1402fea6e4aa7b01",
      "type": "switch",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload.data.intent",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "Query Device Status",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Control Device",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Control Scene",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Set Scene",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "Set Automation",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 5,
      "x": 1110,
      "y": 280,
      "wires": [
        [
          "051ec9baf40fb1a7"
        ],
        [
          "21baa26c971c7c00"
        ],
        [
          "eee85e1e3170b32e"
        ],
        [
          "bb6f7b3533aefd34"
        ],
        [
          "ace419d7d9e2b5fd"
        ]
      ]
    },
    {
      "id": "ea54b17bab992eab",
      "type": "function",
      "z": "73840c3923b28da6",
      "name": "状态反馈",
      "func": "// === Node-RED function: 状态反馈（Telegram 接口 { text: \"\" }） ===\n\n// 解析 payload（兼容字符串/对象）\nlet payload;\ntry {\n  payload = typeof msg.payload === \"string\" ? JSON.parse(msg.payload) : msg.payload;\n} catch (e) {\n  msg.payload = { text: \"Invalid JSON input.\" };\n  return msg;\n}\n\n// 取 results\nconst results = payload?.data?.results || [];\nif (!Array.isArray(results) || results.length === 0) {\n  msg.payload = { text: \"No devices found.\" };\n  return msg;\n}\n\n// domain -> 类别名\nconst CATEGORY_MAP = {\n  light: \"Lights\",\n  climate: \"Air Conditioners\",\n  switch: \"Switches\",\n  fan: \"Fans\",\n  media_player: \"Media Players\",\n  sensor: \"Sensors\",\n  others: \"Others\"\n};\n\nfunction getDomain(id) {\n  return id?.split(\".\")[0] || \"others\";\n}\n\n// 将状态描述压缩为 “on · 73% · Yellow”\nfunction compactDescription(item) {\n  let desc = item?.data?.description || item?.description || \"\";\n  if (desc) {\n    desc = desc\n      .replace(/\\s*brightness\\s*/gi, \"\")\n      .replace(/\\s*,\\s*/g, \" · \")\n      .replace(/\\s+/g, \" \")\n      .trim();\n    return desc;\n  }\n  const st = (item?.data?.state ?? item?.state ?? \"\").toString().trim();\n  const bri = item?.data?.attributes?.brightness;\n  const hs = item?.data?.attributes?.hs_color;\n  const rgb = item?.data?.attributes?.rgb_color;\n\n  const parts = [];\n  if (st) parts.push(st);\n  if (typeof bri === \"number\") {\n    const pct = Math.round((bri / 255) * 100);\n    parts.push(pct + \"%\");\n  }\n  if (Array.isArray(hs) && hs.length >= 2) {\n    const [h, s] = hs;\n    if (Math.abs(h - 60) <= 5 && s >= 90) parts.push(\"Yellow\");\n  } else if (Array.isArray(rgb) && rgb.length >= 3) {\n    const [r, g, b] = rgb;\n    if (r === 255 && g === 255 && b === 0) parts.push(\"Yellow\");\n  }\n  return parts.join(\" · \") || \"n/a\";\n}\n\n// 分组\nconst groups = {};\nfor (const item of results) {\n  const entityId = item?.entity_id || item?.data?.entity_id || \"\";\n  const category = CATEGORY_MAP[getDomain(entityId)] || \"Others\";\n  const name = item?.data?.friendly_name || item?.friendly_name || entityId || \"Unknown device\";\n  const desc = compactDescription(item);\n\n  if (!groups[category]) groups[category] = [];\n  groups[category].push({ name, desc });\n}\n\n// 类别顺序\nconst ORDER = [\"Lights\", \"Air Conditioners\", \"Fans\", \"Switches\", \"Media Players\", \"Sensors\", \"Others\"];\nconst categories = Object.keys(groups).sort((a, b) => {\n  const ia = ORDER.indexOf(a), ib = ORDER.indexOf(b);\n  if (ia === -1 && ib === -1) return a.localeCompare(b);\n  if (ia === -1) return 1;\n  if (ib === -1) return -1;\n  return ia - ib;\n});\n\nconst showCategory = categories.length > 1;\nconst SEP = \"────────────────\";\nconst NAME_WRAP = 28;\n\n// 生成文本\nlet out = [];\nfor (let i = 0; i < categories.length; i++) {\n  const cat = categories[i];\n  const devs = groups[cat];\n\n  if (showCategory) out.push(`[${cat}]`);\n\n  for (const d of devs) {\n    if (d.name.length > NAME_WRAP) {\n      out.push(`• ${d.name}`);\n      out.push(`  — ${d.desc}`);\n    } else {\n      out.push(`• ${d.name} — ${d.desc}`);\n    }\n  }\n\n  if (showCategory && i !== categories.length - 1) {\n    out.push(\"\");\n    out.push(SEP);\n    out.push(\"\");\n  } else if (i !== categories.length - 1) {\n    out.push(\"\");\n  }\n}\n\n// 注意：Telegram 文本上限约 4096 字符，如有需要可在此做截断或分片\nlet text = out.join(\"\\n\");\nif (text.length > 4096) {\n  text = text.slice(0, 4093) + \"...\";\n}\n\nmsg.payload = {\n  \"type\": \"notification\",\n  \"content\": text,\n  \"source\": \"external_system\",\n  \"metadata\": {}\n};\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 2340,
      "y": 140,
      "wires": [
        [
          "3b04dcea4f970be4",
          "bc26f5dd6c876db1"
        ]
      ]
    },
    {
      "id": "2aa8dfe8c8fe4859",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "对实体进行控制",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/home_assistant/home_assistant/batch-control",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1520,
      "y": 220,
      "wires": [
        [
          "882ed8db4fe3c018"
        ]
      ]
    },
    {
      "id": "21baa26c971c7c00",
      "type": "change",
      "z": "73840c3923b28da6",
      "name": "提取控制实体列表",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "payload.data.matched_devices",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1330,
      "y": 220,
      "wires": [
        [
          "2aa8dfe8c8fe4859"
        ]
      ]
    },
    {
      "id": "882ed8db4fe3c018",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "",
      "pretty": false,
      "x": 1670,
      "y": 220,
      "wires": [
        [
          "d047862c48f7b75a"
        ]
      ]
    },
    {
      "id": "d047862c48f7b75a",
      "type": "change",
      "z": "73840c3923b28da6",
      "name": "提取实体列表",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "payload.data.results",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1820,
      "y": 220,
      "wires": [
        [
          "dba62f21078ec8cd"
        ]
      ]
    },
    {
      "id": "0b87958314e49e8c",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "查询实体状态",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/home_assistant/home_assistant/batch-states",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 2180,
      "y": 140,
      "wires": [
        [
          "ea54b17bab992eab"
        ]
      ]
    },
    {
      "id": "051ec9baf40fb1a7",
      "type": "change",
      "z": "73840c3923b28da6",
      "name": "提取控制实体列表",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "payload.data.matched_devices",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1330,
      "y": 140,
      "wires": [
        [
          "dba62f21078ec8cd"
        ]
      ]
    },
    {
      "id": "9b664e50e0530fd9",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 210,
      "y": 320,
      "wires": [
        [
          "d7308a59bc2d7f88",
          "0a7ee8e1693658c0"
        ]
      ]
    },
    {
      "id": "dba62f21078ec8cd",
      "type": "delay",
      "z": "73840c3923b28da6",
      "name": "",
      "pauseType": "delay",
      "timeout": "1",
      "timeoutUnits": "seconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "allowrate": false,
      "outputs": 1,
      "x": 2000,
      "y": 140,
      "wires": [
        [
          "0b87958314e49e8c"
        ]
      ]
    },
    {
      "id": "99aef3aae3af5e8c",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 490,
      "y": 280,
      "wires": [
        [
          "f1b09de46a7142e1",
          "fe2f841ee913ec02"
        ]
      ]
    },
    {
      "id": "d7308a59bc2d7f88",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "AI意图",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/intention/intention/process",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 370,
      "y": 280,
      "wires": [
        [
          "99aef3aae3af5e8c"
        ]
      ]
    },
    {
      "id": "f1b09de46a7142e1",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "匹配实体列表",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/bestMatch/bestMatch/match",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 640,
      "y": 280,
      "wires": [
        [
          "dec8973e9f4a7a2a"
        ]
      ]
    },
    {
      "id": "dec8973e9f4a7a2a",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 790,
      "y": 280,
      "wires": [
        [
          "1402fea6e4aa7b01",
          "5e26be05f2b52521",
          "9653ba2e96ffb23b"
        ]
      ]
    },
    {
      "id": "3b04dcea4f970be4",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "本地回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/communication/communication/receive",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 2520,
      "y": 140,
      "wires": [
        []
      ]
    },
    {
      "id": "b52bf3ce7d03466f",
      "type": "websocket in",
      "z": "73840c3923b28da6",
      "name": "Message",
      "server": "",
      "client": "bc9f3372ece38bda",
      "x": 60,
      "y": 380,
      "wires": [
        [
          "606feed8e8ed15b8"
        ]
      ]
    },
    {
      "id": "606feed8e8ed15b8",
      "type": "function",
      "z": "73840c3923b28da6",
      "name": "格式转换",
      "func": "// 解析 JSON 字符串（如果需要）\nif (typeof msg.payload === 'string') {\n    msg.payload = JSON.parse(msg.payload);\n}\n\n// 检查 type 是否为 \"downlink\"\nif (msg.payload.type === \"downlink\") {\n    return msg;  // 输出消息\n} else {\n    return null;  // 不输出消息\n}",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 200,
      "y": 380,
      "wires": [
        [
          "d7308a59bc2d7f88",
          "0a7ee8e1693658c0"
        ]
      ]
    },
    {
      "id": "bc26f5dd6c876db1",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "快速回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:1697/messageproxy/upload",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 2520,
      "y": 200,
      "wires": [
        []
      ]
    },
    {
      "id": "0a7ee8e1693658c0",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "AI意图分类",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/intention/intention/classify",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 390,
      "y": 420,
      "wires": [
        [
          "5cac65769e8d0983"
        ]
      ]
    },
    {
      "id": "5cac65769e8d0983",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 550,
      "y": 420,
      "wires": [
        [
          "e4fdf4c50e433713"
        ]
      ]
    },
    {
      "id": "8789fbee543d4929",
      "type": "function",
      "z": "73840c3923b28da6",
      "name": "提取AI回复",
      "func": "\n  const text = msg.payload;\n  msg.payload = {\n  \"type\": \"notification\",\n  \"content\": text,\n  \"source\": \"external_system\",\n  \"metadata\": {}\n};\n  return msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 930,
      "y": 420,
      "wires": [
        [
          "190e04ad36cfa638",
          "fbcfe11fedf4d01e"
        ]
      ]
    },
    {
      "id": "e4fdf4c50e433713",
      "type": "change",
      "z": "73840c3923b28da6",
      "name": "提取用户回复",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "payload.data.user_responds",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 720,
      "y": 420,
      "wires": [
        [
          "8789fbee543d4929"
        ]
      ]
    },
    {
      "id": "190e04ad36cfa638",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "本地回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/communication/communication/receive",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 1120,
      "y": 420,
      "wires": [
        []
      ]
    },
    {
      "id": "5e26be05f2b52521",
      "type": "function",
      "z": "73840c3923b28da6",
      "name": "无设备回复",
      "func": "const intent = msg.payload.data.intent;\nconst matchedDevices = msg.payload.data.matched_devices;\n\n// intent 不是 \"Control Scene\" 且不是 \"Other\"，且 matched_devices 为空数组\nif (intent !== \"Control Scene\" && intent !== \"Set Scene\" && intent !== \"Set Automation\" && intent !== \"Other\" &&\n    Array.isArray(matchedDevices) && matchedDevices.length === 0) {\n\n    msg.payload = {\n        \"type\": \"notification\",\n        \"content\": \"Sorry, device not found\",\n        \"source\": \"external_system\",\n        \"metadata\": {}\n    };\n    return msg;\n}\n\nreturn null;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 930,
      "y": 360,
      "wires": [
        [
          "190e04ad36cfa638",
          "fbcfe11fedf4d01e"
        ]
      ]
    },
    {
      "id": "9653ba2e96ffb23b",
      "type": "debug",
      "z": "73840c3923b28da6",
      "name": "debug 4",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 920,
      "y": 200,
      "wires": []
    },
    {
      "id": "eee85e1e3170b32e",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "执行场景",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_scene/ai_enhanced_scene/execute",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1500,
      "y": 280,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "bb6f7b3533aefd34",
      "type": "switch",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload.data.scene.operation",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "delete",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "add",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "list",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 3,
      "x": 1290,
      "y": 340,
      "wires": [
        [
          "33e1830e996a9ab7"
        ],
        [
          "658df813e3818c9c"
        ],
        [
          "5a5510e0da580798"
        ]
      ]
    },
    {
      "id": "33e1830e996a9ab7",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "删除场景",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_scene/ai_enhanced_scene/delete",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1500,
      "y": 320,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "658df813e3818c9c",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "创建场景",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_scene/ai_enhanced_scene/create",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1500,
      "y": 360,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "ace419d7d9e2b5fd",
      "type": "switch",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload.data.automation.operation",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "delete",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "add",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "enable",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "disable",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "list",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 5,
      "x": 1290,
      "y": 560,
      "wires": [
        [
          "70c883a229d32637"
        ],
        [
          "c3857b170460ec80"
        ],
        [
          "62adb518d67c1986"
        ],
        [
          "976009108e50e328"
        ],
        [
          "cd2aa14e14f28bbe"
        ]
      ]
    },
    {
      "id": "c3857b170460ec80",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "创建自动化",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_automation/ai_enhanced_automation/create",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1510,
      "y": 520,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "70c883a229d32637",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "删除自动化",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_automation/ai_enhanced_automation/delete",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1510,
      "y": 480,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "976009108e50e328",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "禁用自动化",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_automation/ai_enhanced_automation/disable",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1510,
      "y": 600,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "62adb518d67c1986",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "启用自动化",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_automation/ai_enhanced_automation/enable",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1510,
      "y": 560,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "53484b426dc28856",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "本地回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/communication/communication/receive",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 2100,
      "y": 460,
      "wires": [
        []
      ]
    },
    {
      "id": "8c8967c4bd5df6db",
      "type": "change",
      "z": "73840c3923b28da6",
      "name": "提取消息",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "payload.data.message",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1920,
      "y": 460,
      "wires": [
        [
          "53484b426dc28856",
          "366f4ba0bd9a90a0"
        ]
      ]
    },
    {
      "id": "ba343d022f535bf9",
      "type": "json",
      "z": "73840c3923b28da6",
      "name": "",
      "property": "payload",
      "action": "",
      "pretty": false,
      "x": 1770,
      "y": 460,
      "wires": [
        [
          "8c8967c4bd5df6db"
        ]
      ]
    },
    {
      "id": "5a5510e0da580798",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "场景列表",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_scene/ai_enhanced_scene/list",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1500,
      "y": 400,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "cd2aa14e14f28bbe",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "自动化列表",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "http://localhost:3000/api/ai_enhanced_automation/ai_enhanced_automation/available",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "other",
          "keyValue": "Content-Type",
          "valueType": "other",
          "valueValue": "application/json"
        }
      ],
      "x": 1510,
      "y": 640,
      "wires": [
        [
          "ba343d022f535bf9"
        ]
      ]
    },
    {
      "id": "366f4ba0bd9a90a0",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "快速回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:1697/messageproxy/upload",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 2100,
      "y": 520,
      "wires": [
        []
      ]
    },
    {
      "id": "fbcfe11fedf4d01e",
      "type": "http request",
      "z": "73840c3923b28da6",
      "name": "快速回复",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://localhost:1697/messageproxy/upload",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [
        {
          "keyType": "Content-Type",
          "keyValue": "",
          "valueType": "application/json",
          "valueValue": ""
        }
      ],
      "x": 1120,
      "y": 360,
      "wires": [
        []
      ]
    },
    {
      "id": "fe2f841ee913ec02",
      "type": "debug",
      "z": "73840c3923b28da6",
      "name": "debug 1",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 640,
      "y": 200,
      "wires": []
    },
    {
      "id": "6a9f943df43b1258",
      "type": "websocket-client",
      "path": "ws://localhost:8082",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    },
    {
      "id": "bc9f3372ece38bda",
      "type": "websocket-client",
      "path": "ws://localhost:1697/messageproxy/flow",
      "tls": "",
      "wholemsg": "false",
      "hb": "0",
      "subprotocol": "",
      "headers": []
    }
  ],
  "timestamp": "2025-10-30T09:06:51.480Z",
  "version": "1.0"
}